{% extends "base.html" %}
{% block pagetitle %}blag{% endblock %}
{% block content %}
{% if object_list %}
    {% for entry in object_list %}
    	<div class="blogentry">
            <h3><a href="{{ entry.get_absolute_url}}">
                    {{ entry.title }} </a></h3>
	<span class="date">{{ entry.pubdate }}</span>
         {% autoescape off %}
	  {{ entry.entry|linebreaks }}
         {% endautoescape %}
	</div>
    {% endfor %}
{% else %}
    <p>No blog entries are available.</p>
{% endif %}
{% endblock %}

