<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="no">
	<head>
		<title>mts productions</title>
<link href="http://www.mts-productions.com/static/style.css" rel="stylesheet" type="text/css" />
	</head>
 <body>

 <ul id='menu'>
   <li><a href="/blog/">
     {blog}</a></li><li><a 
       href="#">{photos}</a>
        </li><li><a href="#">
         {programs}</a></li></ul>

 <h1>{% block pagetitle %}[500]{% endblock %}</h1><div id='content'>
	 error!
 </div>


 <p id='copyright'>&copy;2oo9-mts//productions</p>
	  </body>
</html>
