{% extends "photologue/root.html" %}

{% load photologue_tags %}

{% block pagetitle %}{{ object.title }}{% endblock %}

{% block content %}

<div class="gallery-photo">
    <a href="{{ object.image.url }}"><img src="{{ object.get_display_url }}" alt="{{ object.title }}"/></a>
    {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
</div>
{% if object.public_galleries %}
<div id="other-photos">
	<h2>gallery:</h2>
<ul class="photo-list">
{% for gallery in object.public_galleries %}
    <li>
     <h3><a class="gallery-reference" href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h3>
     <p>{%next_in_gallery object gallery%}→</p>
     <p>←{%previous_in_gallery object gallery%}</p>
    </li>
{% endfor %}
</ul>
</div>
{% endif %}

{% endblock %}

